.containerProdDetail{
    height: 100%;
    width: 100%;
}
.nameProdDetail{
    color: rgb(0, 0, 0);
    text-shadow: 0 0px 5px rgba(138, 138, 138, 0.797);
}
img.itemImgProdDetail{
   width: 300px;
}
.priceDetail{
    font-weight: bold;
    font-size: 25px;
}
.al-carrito{
    color: white;
    background-color: rgb(63, 63, 63);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}
.al-carrito:hover{
    background-color: rgb(94, 94, 94);
}