h1{
    color:rgb(82, 82, 82);
    /* text-shadow: 0 0px 5px rgb(0, 0, 0); */
}
.cargandoProd{
    margin-top: 100px;
    color: rgb(60, 60, 60);
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.261);
}